<div class="row">
  <div class="col-md-6 col-sm-6">
    <!-- BEGIN PORTLET-->
    <div class="portlet light bordered">
      <%= render partial: 'purchase_order_controls' %>
      <%= render partial: 'overview_date' %>
      <div class="portlet-body">
        <div class="">
          <table class="table table-hover table-striped" >
            <thead>
              <tr>
                <th>
                  Vendor Account
                </th>
                <th>
                  Purchase Order #
                </th>
                <th>
                  Total
                </th>
              </tr>
            </thead>
            <%= render partial: 'daily_purchase_order' %>

          </table>

        </div>
      </div>
    </div>
    <!-- END PORTLET-->
  </div>
  <div class="col-md-6 col-sm-6">
    <!-- BEGIN PORTLET-->

    <!-- Product Sales Charts -->
    <div class="portlet light bordered chart-block chart-tabbed">
      <div class="portlet-title">
        <div class="caption">
          <i class="icon-bar-chart font-green"></i>
          <span class="caption-subject font-green bold uppercase">Product Sales</span>
        </div>
        <div class="actions">
          <div class="btn-group btn-group-devided tabs" data-toggle="buttons">
            <label class="btn red btn-outline btn-circle btn-sm bar-chart active">
              <input type="radio" name="options" class="toggle" id="option1"><i class="fa fa-bar-chart"></i>
            </label>
            <label class="btn red btn-outline btn-circle btn-sm pie-chart">
              <input type="radio" name="options" class="toggle" id="option2"><i class="fa fa-pie-chart"></i>
            </label>
          </div>
        </div>
      </div>
      <div class="portlet-body">
        <div class="chart chart-tabbed">
          <% unless @product_sales_bar_chart_data.nil? %>
            <div id="bar-chart" data-highcharts-chart="1">
              <div id="product-sales-bar-chart"></div>
            </div>
            <div id="pie-chart" data-highcharts-chart="2">
              <div id="product-sales-pie-chart"></div>
            </div>
          <% else %>
            <%# insert graphic saying "No data available" %>
          <% end %>
        </div>
      </div>
    </div>
    <!-- END PORTLET-->
  </div>
</div>

<script type="text/javascript">
  // $('.open-pdf').click(function(e){
  //   var anyApprovedOrdersToday = <%= @any_approved_orders_today %>
  //   var anyOrdersToday = <%= @any_orders_today %>
  //   if ($(this).data('approved-only')){
  //     if(!anyApprovedOrdersToday){
  //       e.preventDefault();
  //       alert('There are no approved orders for today.');
  //     }
  //   }else{
  //     if(!anyOrdersToday){
  //       e.preventDefault();
  //       alert('There are no orders for today.');
  //     }
  //   }
  // });
  $(function(){
    <% unless @product_sales_bar_chart_data.nil? %>
      $('#product-sales-bar-chart').highcharts(<%= raw @product_sales_bar_chart_data.to_json %>);
      $('#product-sales-pie-chart').highcharts(<%= raw @product_sales_pie_chart_data.to_json %>);
    <% end %>
  });
</script>
