<% if flash[:errors] %>
  $(".alert-address-modal").html("<%= escape_javascript(render(partial: 'spree/shared/errors')) %>");
<% elsif @order %>
  <% colspan_left = 6 %>
  <% colspan_left -= 1 unless current_vendor.include_unit_weight %>
  <% colspan_left -= 1 unless current_vendor_view_settings.variant_sku %>
  <% colspan_left -= 1 unless current_vendor_view_settings.line_item_lot_number %>
  <% colspan_left -= 1 unless current_vendor_view_settings.variant_pack_size %>

  $('#address_modal').modal('hide');

  $('#alert').html("<div class='alert alert-success alert-auto-dissapear'><%= flash[:success] %></div>");

  $("div#account_addresses").html("<%= escape_javascript(render(partial: 'spree/cust/orders/account_address_fields')) %>");

  $("div#address-select-modal-div").html("<%= escape_javascript(render(partial: 'spree/cust/orders/addresses/address_select_modal')) %>");
  $('.single-order-buttons').replaceWith("<%= escape_javascript(render(partial: 'order_buttons.html.erb')) %>");
  $('#all-adjustments').html("<%= escape_javascript(render(partial: 'adjustments.html.erb', locals: {colspan_left: colspan_left})) %>");
  $('#totals-row').replaceWith("<%= escape_javascript(render(partial: 'total_row.html.erb', locals: {colspan_left: colspan_left})) %>");
  $('.subtotal-price').replaceWith("<span class='subtotal-price'><%= display_sweet_price(@order.item_total, @order.currency) %></span>")
  $('.total-price').replaceWith("<span class='total-price'><%= display_sweet_price(@order.total, @order.currency) %></span>");
  $('#subtotals-row').replaceWith("<%= escape_javascript(render(partial: 'subtotal_row.html.erb', locals: {colspan_left: colspan_left})) %>");
  <% if @order.recalculate_shipping && @order.active_shipping_calculator %>
    $('.new-payment-btn').attr('style','pointer-events:none; opacity: 0.65;');
    $('.single-order-buttons > .clear').after("<span class='help-block-italic text-center' id='update-notification'>You must update the order before submitting</span>");
  <% end %>

  setTimeout(function() {
   $(".alert-auto-dissapear").fadeOut(1500);
  },2000);

<% end %>
