<div class="portlet-title">
    <div class="caption">
      <i class="fa fa-cogs"></i>
      Add Categories
    </div>
    <div class="actions">
      <%= link_to raw("<i class='fa fa-times' aria-hidden='true'></i>"), '#', class: 'btn red btn-sm close-button' %>
    </div>
</div>
<div class="portlet-body">
  <div id="taxon_select_container">
    <select name='' id='taxon_select' multiple="multiple" class="form-control select2-multiple select2-hidden-accessible">
      <% taxon_ids = rule.nil? ? [] : rule.taxon_ids %>
      <% @vendor.taxons.includes(:parent, :children).where.not(parent_id: nil).select(:id, :parent_id, :lft, :rgt, :name).each do |taxon| %>
        <option value="<%= taxon.id %>" data-id='<%= taxon.id %>'
          <%= 'selected' if taxon_ids.include?(taxon.id) %>>
          <%= taxon.pretty_name %>
        </option>
      <% end %>
    </select>
  </div>
  <br>
  <div id="taxon_qty_requirements">
    <label class="control-label">Order must contain 'x' amount of these categories</label>
    <select id='taxon_qty_select' name='promotion[rules][taxon][match_policy]' class="form-control">
      <option <%= 'selected' if !rule.nil? && rule.preferences[:match_policy] == 'any' %> value="any">At least one</option>
      <option <%= 'selected' if !rule.nil? && rule.preferences[:match_policy] == 'all' %> value="all">All</option>
      <option <%= 'selected' if !rule.nil? && rule.preferences[:match_policy] == 'none' %> value="none">None</option>
    </select>
  </div>
</div>
