<% has_variants = @product.has_variants? %>
<% show_components_section = !has_variants && f.object.master.can_have_parts? && @vendor.subscription_includes?('assemblies') %>
<% master = @product.master %>
<% has_option_types = @product.option_types.present? %>
<div class='row'>
  <div class="portlet light no-margin no-padding-bottom">
    <div class="portlet-title tabbable-line">
      <ul class="nav nav-tabs pull-left">
        <li class="active long-tabs-link">
          <a href="#product_general" data-toggle="tab">General</a>
        </li>
        <li class="long-tabs-link">
          <a href="#product_details" data-toggle="tab">
            <span class="toggle-variants <%= 'hidden' if has_variants || has_option_types %>">
              Product Details
            </span>
            <span class="toggle-variants <%= 'hidden' unless has_variants || has_option_types %>">
              Parent Details
            </span>
          </a>
        </li>
        <li class="long-tabs-link toggle-variants <%= 'hidden' unless has_variants || has_option_types %>">
          <a href="#variants" data-toggle="tab">Variants</a>
        </li>
        <% if show_components_section %>
          <li class="long-tabs-link toggle-variants <%= 'hidden' if has_variants || has_option_types %>">
            <a href="#product_components" data-toggle="tab">Components</a>
          </li>
        <% end %>
        <% if f.object.persisted? && f.object.should_track_inventory? %>
          <li class="long-tabs-link toggle-variants <%= 'hidden' if has_variants || has_option_types %>">
            <a href="#product_stock" data-toggle="tab">Stock</a>
          </li>
        <% end %>
        <% if current_company.try(:use_price_lists) %>
          <li class="long-tabs-link toggle-variants <%= 'hidden' if has_variants || has_option_types %>">
            <a href="#product_price_lists" data-toggle="tab">Price Lists</a>
          </li>
        <% end %>
        <% unless has_variants %>
          <% (f.object.master.try(:custom_attrs) || {}).keys.each do |channel| %>
              <li class="long-tabs-link toggle-variants <%= 'hidden' if has_variants %>">
                <a href="#<%= channel.underscore %>" data-toggle="tab"><%= channel.titleize %></a>
              </li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div class="portlet-body form">
      <div class="horizontal-form">
        <div class="tab-content">
          <div class="row">
            <div class="col-md-12">
              <% unless current_spree_user.can_write?('catalog', 'products') %>
                <div class='alert alert-info'>
                  You do not have permission to edit products
                </div>
              <% end %>
              <% if @product.discontinued_on %>
                <div class='alert alert-danger'>
                  This product has been <%= Spree.t('variant.deactivated') %>.
                </div>
              <% end %>
              <% if @product.has_variants_with_no_option_types %>
                <div class="alert alert-danger alert-dismissable">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                  This product has variants with option values that do not belong to the option types specified below. Please edit either the variants or the product.
                </div>
              <% end %>
            </div>
          </div>

          <!-- BEGIN GENERAL TAB -->
          <div class="tab-pane active" id="product_general">
            <div class='row'>
              <div class='col-md-9 border-right-light'>
                <h3>General Information</h3>
                <%= render partial: 'spree/manage/products/form/product_fields', locals: {f: f} %>
                <%= render partial: 'spree/manage/products/form/type_and_accounts', locals: {f: f} %>

              </div>
              <div class='col-md-3'>
                <div class='row'>
                  <div class='col-xs-12 text-center'>
                    <%= render partial: 'spree/manage/products/page_content/image' %>
                  </div>
                </div>
                <%= render partial: 'spree/manage/products/form/switches', locals: {f: f} %>
              </div>
            </div>
          </div>
          <!-- END GENERAL TAB -->

          <div class="tab-pane" id="product_details">
            <div class='row'>
              <div class='col-md-9 border-right-light'>
                <h3 class="<%= 'toggle-variants' unless has_option_types %>
                  <%= 'hidden' if has_variants || has_option_types %>" id='master-details'>
                  Product Details
                  <% unless has_variants %>
                    <span style='font-size:12px;'> OR </span>
                    <%= link_to 'Use Variants', 'void:javascript();',
                      class: 'btn btn-default toggle-variants',
                      data:{'use-variants' => true} %>
                  <% end %>
                </h3>
                <h3 class="<%= 'toggle-variants' unless has_option_types %>
                  <%= 'hidden' unless has_variants || has_option_types %>" id='parent-details'>
                  Parent Details
                  <% unless has_variants || has_option_types %>
                    <span style='font-size:12px;'> OR </span>
                    <%= link_to 'Use Top Level Product', 'void:javascript();',
                      class: 'hidden btn btn-default toggle-variants',
                      data:{'use-variants' => false} %>
                  <% end %>
                </h3>
                <%= render partial: 'spree/manage/products/form/product_details', locals: {f: f} %>
              </div>
              <div class='col-md-3'>
                <%#= render partial: 'spree/manage/variants/form/option_types', locals: {f: f} %>
                <%#= render partial: 'spree/manage/variants/form/variant_details', locals: {f: f} %>
                <%#= render partial: 'spree/manage/variants/form/purchase_and_costing', locals: {f: f} %>
                <%#= render partial: 'spree/manage/variants/form/selling_rules', locals: {f: f} %>
              </div>
            </div>
          </div>
          <!-- BEGIN PARTS TAB -->
            <div class="tab-pane" id="variants">
              <div class='row'>
                <div class='col-md-12'>
                  <h3 class=''>Variants</h3>
                  <% @inventory_on = @product.should_track_inventory? %>
                    <% order_type = @current_order.class.to_s.demodulize.underscore %>
                    <%= render partial: 'product_table', locals: {f: nil, inventory_on: @inventory_on, order_type: order_type } %>
                    <% if @vendor.allow_variants && !['new', 'create'].include?(params[:action]) %>
                      <%= link_to '#variant-modal',
                        {data:{toggle: 'modal', target:'#variant-modal', action: 'new', 'product-id' => "#{@product.id}", 'account-id' => "#{@account.try(:id)}"},
                        class: "btn green variant-modal-btn margin-top-10 #{'hidden' unless @product.has_variants? || @product.option_types.present? }",
                        id: 'new-variant-btn'} do %>
                        <i class='fa fa-plus'></i> New Variant
                      <% end %>
                    <% end %>
                </div>
              </div>
              <span class='help-block-italic hidden' id='save-before-variants-message'>You must save product before adding variants</span>
            </div>
          <!-- END PARTS TAB -->
          <!-- BEGIN PARTS TAB -->
          <% if show_components_section %>
            <div class="tab-pane" id="product_components">
              <div class='row'>
                <div class='col-md-12'>
                  <h3 class=''>Components</h3>
                  <% if show_components_section %>
                    <%= render partial: 'spree/manage/variants/page_content/parts', locals: {f: f, variant: @product.master } %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
          <!-- END PARTS TAB -->
          <% if f.object.persisted? && f.object.should_track_inventory? %>
            <div class="tab-pane" id="product_stock">
              <div class='row'>
                <div class='col-md-12'>
                  <h3>Stock Details</h3>
                  <%= f.fields_for :master do |ff| %>
                    <%= render partial: 'spree/manage/variants/stock_items_form', locals: {f: ff} %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>

          <% if current_company.try(:use_price_lists) %>
            <div class='tab-pane' id='product_price_lists'>
              <div class='row'>
                <div class='col-md-12'>
                  <h3>Price List</h3>
                  <%= f.fields_for :master do |ff| %>
                    <%= render partial: 'spree/manage/variants/price_lists_form', locals: {f: ff} %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
          <% (f.object.master.try(:custom_attrs) || {}).keys.each do |channel| %>
            <div class='tab-pane' id='product_<%= channel.underscore %>'>
              <div class='row'>
                <div class='col-md-12'>
                  <h3 class=''><%= "#{channel.to_s.capitalize} Attributes" %></h3>
                  <div class="row">
                    <%#= render partial: "spree/manage/products/channels/#{channel}/variant_form", locals: {f: f} %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
