<%= content_for :head_title do %>
  <%= @vendor.name %> Product Catalog
<% end %>

<%= content_for :page_bar do %>
  <ul class="page-breadcrumb">
    <li>
      <%= link_to "Home", manage_path %>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <span>Products</span>
    </li>
  </ul>
  <div class="page-toolbar">
    <%= link_to new_manage_order_path, class: "btn green-jungle pull-right" do %>
      <i class="fa fa-plus"></i>&nbsp;<%= Spree.t(:new_sales_order) %>
    <% end %>
    <div class="btn-group input-group-sm select2-bootstrap-prepend pull-right" id='view-as-form'>
      <p><%= Spree.t('manage.viewing_as') %>:</p>
      <div id='view-as-account-wrapper'>
        <select name="account_id" class="select2" id="view-as-account" placeholder="<%= @vendor.name %>">
          <option <%= 'selected' if session[:account_id].to_i == 0 %> value='0'><%= @vendor.name %> (View All Products)</option>
          <% @vendor.customer_accounts.order('fully_qualified_name asc').each do |account| %>
            <option <%= 'selected' if session[:account_id].to_i == account.id %> value="<%= account.id %>">
              <%= account.fully_qualified_name %>
            </option>
          <% end %>
        </select>
      </div>
      <select name='account_show_all' class="select2" id="account-show-all">
        <option value="true" <%= 'selected' if session[:account_show_all] =='true' %>>All Products</option>
        <option value="false" <%= 'selected' if session[:account_show_all] =='false' || session[:account_show_all].blank? %>>Account Only</option>
      </select>
    </div>
  </div>
<% end %>

<% if @account.account_viewable_variants.count < @vendor.variants_including_master.count %>
  <div class="alert alert-warning alert-dismissable">
  <button type='button' class='close' data-dismiss='alert' aria-hidden='true'></button>
  The customized catalog for <%= @account.try(:fully_qualified_name) %> is still updating. Some of the products may not be available yet.</div>
<% end %>
<% unless @account.account_viewable_variants.visible.any? %>
  <div class="alert alert-warning alert-dismissable">
    <button type='button' class='close' data-dismiss='alert' aria-hidden='true'></button>
      You have not made any products visible to <%= @account.try(:fully_qualified_name) %>
      <div class="pull-right">
        <%= link_to "Share Entire Catalog", manage_update_all_viewable_variants_path(account_id: @account.id, all_viewable_by: 'true'), method: :post, class: "btn btn-primary" %>
      </div>
    <div class="clearfix"></div>
  </div>
<% end %>

<div class="content">
  <%= search_form_for [:manage, @search], url: manage_products_path, class: "form", id: 'products-search-form' do |f| %>
    <%= render partial: 'avv_advanced_search', locals: {f: f} %>
    <input type='hidden' name='account_show_all' value='' id='account-viewing-all'>
  <% end %>

  <div class="row hidden">
    <div id="source-dt-buttons">
      <% if current_spree_user.can_write?('catalog', 'products') && !@vendor.set_visibility_by_price_list %>
        <div class="btn-group margin-right-10">
          <div class="btn btn-default">
            <input type="checkbox" class="group-checkable">
          </div>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> Actions
            <i class="fa fa-angle-down"></i>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li>
              <%= submit_tag 'Make Products Visible', form: 'products-list-form' %>
            </li>
            <li>
              <%= submit_tag 'Hide Selected Products', form: 'products-list-form' %>
            </li>
          </ul>
        </div>
      <% end %>
      <% if current_spree_user.can_write?('catalog', 'products') %>
        <%= link_to new_manage_product_path, class: "btn btn-default" do %>
          <i class="fa fa-plus"></i>&nbsp;New Product
        <% end %>
      <% end %>
    </div><!--/.col-md-12 -->
  </div><!--/.row -->
  <% if params.fetch(:q, {}).fetch(:include_inactive, false).to_bool %>
    <% total_variants_count = @account.vendor.showable_variants.count %>
  <% else %>
    <% total_variants_count = @account.vendor.showable_variants.active.count %>
  <% end %>
  <div class="hidden">
    <p>
      You have selected all <strong><%= @account_viewable_variants.count %></strong> products on this page. <a id='select-all-products'>Select all <%= total_variants_count %></a> in the catalog.
    </p>

  </div>
  <div class="hidden">
    <p>
      All <strong><%= total_variants_count %> products</strong> in the catalog are selected. <a id='unselect-all-products'>Clear selection</a>
    </p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= form_for @account, html: {id: "products-list-form"}, url: actions_router_manage_products_path, method: :patch do |f| %>
        <input type='hidden' name='all_variants' value='false' id='all-variants-input'>
        <div class="">
          <% include_check_boxes = current_spree_user.can_write?('catalog', 'products') && !@vendor.set_visibility_by_price_list %>
          <table class="table table-hover <%= 'table-checkable' if include_check_boxes %>" id="product-catalog">
            <thead>
              <tr>
                <% if include_check_boxes %>
                  <th class="table-checkbox sorting_disabled dt-no-settings-visible" width="2%">
                    <input type='hidden' name='account[id]' value='<%= @account.id %>'>
                  </th>
                <% end %>

               <% if @user_is_viewing_images %>
                <%# CHECK WHETHER USER WANTS TO SEE IMAGES IN CATALOG HERE %>
                <th class='dt-no-settings-visible'></th>
               <% end %>
                <th>
                  <%= sort_link @search, :variant_full_display_name, "Name" %>
                </th>
                <th>
                  <%= sort_link @search, :variant_variant_type, "Type" %>
                </th>
                <th>
                  <%= sort_link @search, :variant_sku, "SKU" %>
                </th>
                <th>
                  <%= sort_link @search, :variant_pack_size, "Pack Size" %>
                </th>
                <th>
                  <%= sort_link @search, :variant_lead_time, "Lead Time" %>
                </th>
                <th>
                  <%= sort_link @search, :price, "Price" %>
                </th>
                <th>
                  Visible to Account
                </th>
                <th class="dt-no-settings-visible">
                </th>
              </tr>

            </thead>
            <tbody>
              <%= render partial: 'account_viewable_variants_list', locals: {f:f, include_check_boxes: include_check_boxes} %>
            </tbody>
          </table>
        </div>
        <%= paginate @account_viewable_variants %>
      </div>
    <% end %>
  </div>
</div>

<%= render partial: 'spree/manage/products/modal/product_modal' %>
<%= render partial: 'spree/manage/variants/modal/variant_modal' %>
<%= render partial: 'spree/manage/inventories/build_assembly_modal' %>
<%= render partial: 'spree/manage/option_types/modal/edit' %>

<script type='text/javascript'>
  $('.group-checkable').click(function(event) {
    if(this.checked === true){
      $('#select-all-products').parent().parent().removeClass('hidden');
      $('.checkboxes:checkbox').each(function() {
        this.checked = true;
      });
    }else{
      $('#all-variants-input').val('false');
      if(!$('#select-all-products').parent().parent().hasClass('hidden')){
        $('#select-all-products').parent().parent().addClass('hidden');
      }
      if(!$('#unselect-all-products').parent().parent().hasClass('hidden')){
        $('#unselect-all-products').parent().parent().addClass('hidden');
      }
      $('.checkboxes:checkbox').each(function() {
        this.checked = false;
      });
    }
  });

  $('#select-all-products').click(function(){
    $('#all-variants-input').val('true');
    $(this).parent().parent().addClass('hidden');
    $('#unselect-all-products').parent().parent().removeClass('hidden');
  });

  $('#unselect-all-products').click(function(){
    $(this).parent().parent().addClass('hidden');
    $('#all-variants-input').val('false');
    $('.group-checkable:checkbox')[0].checked = false;

    $('.checkboxes:checkbox').each(function() {
      this.checked = false;
    });
  });

  $('.checkboxes').click(function(){
    $('.group-checkable:checkbox')[0].checked = false;
    if(!$('#select-all-products').parent().parent().hasClass('hidden')){
      $('#select-all-products').parent().parent().addClass('hidden');
    }
    if(!$('#unselect-all-products').parent().parent().hasClass('hidden')){
      $('#unselect-all-products').parent().parent().addClass('hidden');
    }
    $('#all-variants-input').val('false');
  });

</script>
