<%= render partial: 'spree/manage/products/headers/edit_header' %>
<div class="portlet light no-padding">
  <%= render partial: 'spree/manage/products/page_content/edit_body' %>
</div>
<%= render partial: 'spree/manage/variants/modal/variant_modal' %>
<% if @vendor.subscription_includes?('assemblies') && @product.assemblies_parts.present? && @product.should_track_inventory? %>
  <%= render partial: 'spree/manage/inventories/build_assembly_modal' %>
<% end %>
<%= render partial: 'spree/manage/option_types/modal/edit' %>
