<div class="row">
  <div class="col-md-4">
    <div class="col-md-12 address-block">
      <h4 class="margin-top-10" style="padding-left: 4px">Billing</h4>
      <%= render partial: 'spree/shared/addresses/address_show', locals: {address: @bill_address, include_type: false} %>
      <% if @bill_address.persisted? %>
        <%= link_to "Edit", edit_account_address_path(@account, @bill_address, addr_type: "billing"), remote: true, data: {'data-toggle' =>  "modal", 'data-target' => '#address_modal'}, class: '' %>
      <% else %>
        <%= link_to "Edit", new_account_address_path(@account, addr_type: "billing"), remote: true, data: {'data-toggle' =>  "modal", 'data-target' => '#address_modal'}, class: '' %>
      <% end %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="col-md-12 address-block">
      <h4 class="margin-top-10" style="padding-left: 4px">Default Shipping</h4>
      <%= render partial: 'spree/shared/addresses/address_show', locals: {address: @selected_ship_address, include_type: false} %>
      <% if @selected_ship_address.persisted? %>
        <%= link_to "Edit", edit_account_address_path(@account, @account.default_ship_address, addr_type: "shipping"), remote: true, data: {'data-toggle' =>  "modal", 'data-target' => '#address_modal'}, class: '' %>
      <% else %>
        <%= link_to "Edit", new_account_address_path(@account, addr_type: "shipping"), remote: true, data: {'data-toggle' =>  "modal", 'data-target' => '#address_modal'}, class: '' %>
      <% end %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="col-md-12 new-address-block address-block">
      <h4 class="margin-top-10">New Address</h4>
      <%= link_to "New", new_account_address_path(@account), remote: true, data: {'data-toggle' =>  "modal", 'data-target' => '#address_modal'}, class: 'btn btn-primary btn-green edit-address-btn' %>
    </div>
  </div>
</div>
<% @non_default_ship_addresses = @account.shipping_addresses - [@account.default_ship_address] %>
<% @non_default_ship_addresses.each_with_index do |address, i| %>
  <% if i % 3 == 0 %>
    <div class="row">
  <% end %>

  <div class="col-md-4">
    <div class="col-md-12 address-block padding-top-20">
      <%= render partial: 'spree/shared/addresses/address_show', locals: {address: address, include_type: false} %>
      <div>
        <%= link_to "Edit", edit_account_address_path(@account, address, addr_type: "shipping"), remote: true, data: {'data-toggle' =>  "modal", 'data-target' => '#address_modal'}, class: "" %>  |
        <%= link_to "Delete", account_address_path(@account, address, addr_type: "shipping"), method: :delete, remote: true, class: "" %>  |
        <%= link_to "Set as Default", update_default_address_account_path(@account, address_id: address.id), method: :patch, remote: true, class: "" %>

      </div>
    </div>
  </div>
  <% if ((i + 1) % 3 == 0) || ((@non_default_ship_addresses.count - 1) == i) %>
    </div>
  <% end %>
<% end %>
