<div class="row">
  <div class="col-md-12">
    <div class="portlet light ">
      <div class="portlet-title">
        <div class="caption caption-md">
          <span class="caption-subject font-blue-madison bold uppercase">Lot: <%= @lot.number %></span>
        </div>
      </div>
      <div class="portlet-body form">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :number, class: 'control-label' %>
              <%= f.text_field :number, class: 'form-control' %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :expires_at, class: "control-label" %>
              <input type="text" name="lot[expires_at]"
                value="<%= display_vendor_date_format(@lot.expires_at, @vendor.date_format) unless @lot.expires_at.blank? %>"
                class="form-control date-picker" autocomplete="off"
                data-date-format="<%= @vendor.date_format %>" id="expires_at"
                placeholder="<%= @vendor.date_format %>">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :available_at, class: "control-label" %>
              <input type="text" name="lot[available_at]"
                value="<%= display_vendor_date_format(@lot.available_at, @vendor.date_format) unless @lot.available_at.blank? %>"
                class="form-control date-picker" autocomplete="off"
                data-date-format="<%= @vendor.date_format %>" id="available_at"
                placeholder="<%= @vendor.date_format %>">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :sell_by, class: "control-label" %>
              <input type="text" name="lot[sell_by]"
                value="<%= display_vendor_date_format(@lot.sell_by, @vendor.date_format) unless @lot.sell_by.blank? %>"
                class="form-control date-picker" autocomplete="off"
                data-date-format="<%= @vendor.date_format %>" id="sell_by"
                placeholder="<%= @vendor.date_format %>">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :variant, class: 'control-label' %>
              <% disabled = @lot.present? && @lot.qty_on_hand != 0%>
              <%= f.collection_select("variant_id", @variants, :id, :full_context, {include_blank: true}, {class:"form-control select2", disabled: disabled}) %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :archive, Spree.t(:archive), class: 'control-label' %>
              <%= f.check_box :archive %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
</script>
