<%= content_for :head_title do %>
  Lot
<% end %>

<%= content_for :page_bar do %>
  <ul class="page-breadcrumb">
    <li>
      <%= link_to "Home", manage_path %>
      <i class="fa fa-circle"></i>
    </li><li>
      <%= link_to "Lots", manage_lots_path %>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <%= @lot.number %>
    </li>
  </ul>
  <div class="page-toolbar">
    <div class="btn-group pull-right">

    </div>
  </div>
<% end %>

<%= form_for [:manage, @lot] do |f| %>
  <%= render partial: 'lot_form', locals: {f: f} %>
  <div class="col-md-12">
    <%= f.submit Spree.t(:update), class: 'btn btn-primary pull-right'%>
    <%= link_to Spree.t(:Cancel), manage_lot_path(@lot), class: 'btn btn-default pull-right margin-right-10' %>
  </div>
<% end %>