<% unless local_assigns[:type] %>
  <% if local_assigns[:addr_type] %>
    <% type = addr_type %>
  <% else %>
    <% type = params[:addr_type] || @selected_ship_address.try(:addr_type) || "shipping" %>
  <% end %>
<% end %>
<%= f.hidden_field :addr_type, value: "#{type}" %>
<%= f.hidden_field :order_id, value: "#{params[:order_id]}" %>

<div class="row">
  <div class="col-md-6">
    <div class="form-group <%= "#{type}-row" %>">
      <%= f.label :firstname, Spree.t(:first_name), class: "control-label" %>
      <%= f.text_field :firstname, class: 'form-control' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group <%= "#{type}-row" %>">
      <%= f.label :lastname, Spree.t(:last_name), class: "control-label" %>
      <%= f.text_field :lastname, class: 'form-control' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group <%= "#{type}-row" %>">
      <%= f.label :company, Spree.t(:company), class: "control-label" %>
      <%= f.phone_field :company, class: 'form-control' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group <%= "#{type}-row" %>">
      <%= f.label :phone, Spree.t(:phone), class: "control-label" %>
      <%= f.phone_field :phone, class: 'form-control' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group <%= "#{type}-row" %>">
      <%= f.label :address1, Spree.t(:street_address) %>
      <%= f.text_field :address1, class: 'form-control' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group <%= "#{type}-row" %>">
      <%= f.label :address2, Spree.t(:street_address_2) %>
      <%= f.text_field :address2, class: 'form-control' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group <%= "#{type}-row" %>">
      <%= f.label :city, Spree.t(:city) %>
      <%= f.text_field :city, class: 'form-control' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group <%= "#{type}-row" %>">
      <%= f.label :zipcode, Spree.t(:zip) %>
      <%= f.text_field :zipcode, class: 'form-control' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group <%= "#{type}-row" %>">
      <%= f.label :country_id, Spree.t(:country) %>
      <%= f.collection_select :country_id, available_countries, :id, :name, {include_blank: true}, { class: 'form-control select2 country-select', data:{type: "#{type}"} } %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group <%= "#{type}-row" %>">
      <%= f.label :state_id, Spree.t(:state), for: "available-states-#{type}" %>
      <%= f.collection_select :state_id, Spree::State.where(country_id: f.object.country_id), :id, :name, {include_blank: true}, {class: 'form-control', id: "available-states-#{type}"} %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.country-select').change(function(){

    <% if request.env['PATH_INFO'].include? "manage" %>
      <% @route = "/manage/customers/update_states" %>
    <% else %>
      <% @route = "/accounts/update_states" %>
    <% end %>

    $.ajax({
       url: "<%= @route %>",
      type: 'GET',
      dataType: 'script',
      data: {
        address_type: $(this).data('type'),
        country_id: this.value
      }
    });
  });
</script>
