<%= content_for :head_title do %>
  New Standing Order
<% end %>

<%= content_for :page_title do %>
  New Standing Order
<% end %>

<%= content_for :page_bar do %>
  <ul class="page-breadcrumb">
    <li>
      <%= link_to "Home", root_path %>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <%= link_to "Orders", orders_path %>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <%= link_to "Standing Orders", standing_orders_path %>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <span>New</span>
    </li>
  </ul>
<% end %>

<div class="content">
  <%= simple_form_for @order, url: standing_orders_path, method: "post", wrapper: :horizontal_form do |f| %>
    <div class="row">
      <div class="col-md-6">
        <div class="portlet blue-hoki box">
          <div class="portlet-title">
            <div class="caption">
              <i class="fa fa-cogs"></i>Order Details
            </div>
          </div>
          <div class="portlet-body form">
            <div class="form-body">
              <%= f.input :name, label: 'Name' %>
              <%#= f.association :vendor, label: 'Vendor', collection: @vendors, include_blank: false %>
              <%= f.association :account, label: 'Account', collection: @user_accounts, label_method: :vendor_account_name, include_blank: true %>
              <div class="hidden" id="contact-user">
                <%= f.association :user, label: 'User', collection: @user_accounts, as: :grouped_select, group_method: :users, include_blank: false %>
              </div>
              <%= render partial: 'account_contact', locals: {f: f} %>
              <%= f.association :shipping_method, label: 'Shipping Method', collection: @vendor_shipping, include_blank: false %>
              <hr/>

              <div class="form-group standing_order_start_at">
                <label for="start_at" class="string control-label col-sm-3 control-label">Start</label>
                <div class="col-sm-9">
                  <input type="text" name="standing_order[start_at]"
                    value="<%= display_vendor_date_format(@order.start_at, @order.vendor.try(:date_format) || @customer.vendors.first.try(:date_format)) unless @order.start_at.blank? %>"
                    class="string form-control date-picker" data-date-format="<%= @order.vendor.try(:date_format) || @customer.vendors.first.try(:date_format) %>" id="start_at">
                </div>
              </div>
              <%= f.input :end_at_id, label: 'End', collection: Spree::StandingOrder.end_at_options, include_blank: false %>
              <div id="standing_order_end_at_1" class="standing_order_end_at" style="<%= "display:none;" if @order.end_at_id != 1 %>">
                <%= f.input :end_at_data_1_after, label: '&nbsp;'.html_safe, hint: 'occurrences' %>
              </div>
              <div id="standing_order_end_at_2" class="standing_order_end_at" style="<%= "display:none;" if @order.end_at_id != 2 %>">
                <div class="form-group standing_order_start_at">
                  <label for="end_at_data_2_by" class="string control-label col-sm-3 control-label">End at</label>
                  <div class="col-sm-9">
                    <input type="text" name="standing_order[end_at_data_2_by]"
                      value="<%= display_vendor_date_format(@order.end_at_data_2_by, @order.vendor.try(:date_format) || @customer.vendors.first.try(:date_format)) unless @order.end_at_data_2_by.blank? %>"
                      class="string form-control date-picker" data-date-format="<%= @order.vendor.try(:date_format) || @customer.vendors.first.try(:date_format) %>" id="end_at_data_2_by">
                  </div>
                </div>
              </div>
              <hr/>

              <%= f.input :frequency_id, label: 'Frequency', collection: Spree::StandingOrder.frequency_options, include_blank: false %>

              <%= render partial: 'frequency_data_1', locals: {f: f} %>

              <div id="standing_order_frequency_2" class="standing_order_frequency" style="<%= "display:none;" if @order.frequency_id != 2 %>">
                <%= f.input :frequency_data_2_every, label: 'Every', hint: 'week(s)' %>
                <%= f.input :frequency_data_2_day_of_week, collection: Spree::StandingOrder.day_options, label: 'On', include_blank: false %>
              </div>
              <div id="standing_order_frequency_3" class="standing_order_frequency" style="<%= "display:none;" if @order.frequency_id != 3 %>">
                <%= f.input :frequency_data_3_type, collection: Spree::StandingOrder.frequency_type_options, label: 'On', include_blank: false %>
                <div id="standing_order_frequency_3_a" class="standing_order_frequency_3" style="<%= "display:none;" if @order.frequency_data_3_type != "day"%>">
                  <%= f.input :frequency_data_3_month_number, collection: Spree::StandingOrder.frequency_type_day_options, label: '&nbsp;'.html_safe, include_blank: false %>
                </div>
                <div id="standing_order_frequency_3_b" class="standing_order_frequency_3" style="<%= "display:none;" if @order.frequency_data_3_type == "day"%>">
                  <%= f.input :frequency_data_3_week_number, collection: Spree::StandingOrder.day_options, label: '&nbsp;'.html_safe, include_blank: false %>
                </div>
                <%= f.input :frequency_data_3_every, label: 'Every', hint: 'month' %>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="portlet blue-hoki box">
          <div class="portlet-title">
            <div class="caption">
              <i class="fa fa-bell"></i>Order Actions
            </div>
          </div>
          <div class="portlet-body form">
            <div class="form-body">
              <%= f.input :timing_id, label: 'Action', collection: Spree::StandingOrder.timing_options, include_blank: false %>
              <div id="standing_order_timing_1" class="standing_order_timing" style="<%= "display:none;" if @order.timing_id != 1 %>">
                <%= f.input :timing_data_create_days, label: '&nbsp;'.html_safe, hint: 'day(s) in advance' %>
                <%= f.input :timing_data_create_at_hour, label: 'At', collection: Spree::StandingOrder.hour_options.map {|item| [item[:hour], item[:value]]}, include_blank: false %>
                <div class="col-md-2"></div>
                  <%= f.check_box :timing_process, disabled: 'disabled' %>
                  <%= f.label :timing_process, "Process" %>

                  <div class="margin-bottom-10">
                    <div class='col-sm-3'></div>
                    <div class='col-sm-9'>
                      <p class='help-block-italic'>Must add products before selecting 'Process'</p>
                    </div>
                  </div>
                <div id="standing_order_timing_process_1" style="<%= "display:none;" if @order.timing_process == false %>">
                  <%= f.input :timing_data_process_hours, label: '&nbsp;'.html_safe, hint: 'hours before cut-off time', collection: Spree::StandingOrder.hour_options.map {|item| [item[:time], item[:value]]}, include_blank: false %>
                </div>
                <br/>
              </div>
              <div id="standing_order_timing_2" class="standing_order_timing" style="<%= "display:none;" if @order.timing_id != 2 %>">
                <%= f.input :timing_data_remind_days, label: '&nbsp;'.html_safe, hint: 'day(s) in advance' %>
                <%= f.input :timing_data_remind_at_hour, label: 'At', collection: Spree::StandingOrder.hour_options.map {|item| [item[:hour], item[:value]]}, include_blank: false %>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="table-scrollable">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>
                  Item
                </th>
                <th>
                  SKU
                </th>
                <th>
                  Pack/Size
                </th>
                <th>
                  Price
                </th>
                <th>
                  Qty
                </th>
                <th>
                  Total
                </th>
              </tr>
            </thead>
          </table>
          <%= submit_tag "Add Items To Order", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>




<script type="text/javascript">
    var getAccountDetails = function(account_id){
      $.ajax({
        url: '/standing_orders/user_accounts' ,
        type: 'GET',
        dataType: 'script',
        data: {
          account_id: account_id
        }
      });
    };
    $("#standing_order_account_id").change(function () {
      var account_id = $('#standing_order_account_id option:selected').val();
      if(typeof account_id !== "undefined"){
        getAccountDetails(account_id);
      }
    });

  $(function() {
    $('#standing_order_frequency_id').change(function(){
      $('.standing_order_frequency').hide();
      $('#standing_order_frequency_' + $(this).val()).show();
    });
    $('#standing_order_frequency_data_3_type').change(function(){
      $('.standing_order_frequency_3').hide();
      if ($(this).val() === 'day') {
        $('#standing_order_frequency_3_a').show();
      } else {
        $('#standing_order_frequency_3_b').show();
      }
    });

    $('#standing_order_end_at_id').change(function(){
      $('.standing_order_end_at').hide();
      $('#standing_order_end_at_' + $(this).val()).show();
    });

    $('#standing_order_timing_id').change(function(){
      $('.standing_order_timing').hide();
      $('#standing_order_timing_' + $(this).val()).show();
    });
    $('#standing_order_timing_process').change(function(){
      if ($('#standing_order_timing_process').is(':checked')) {
        $('#standing_order_timing_process_1').show();
      } else {
        $('#standing_order_timing_process_1').hide();
      }
    });

    function filterShippingMethods(){
      var $sel = $('#standing_order_shipping_method_id'),
          vendor = $('#standing_order_vendor_id option:selected').text();
      $('span > optgroup', $sel).unwrap();
      $('optgroup:not([label="' + vendor + '"])', $sel).wrap('<span/>');
    }

    $("#standing_order_vendor_id").change(function () {
      filterShippingMethods();
    });
    filterShippingMethods();

  });
</script>
