<% col_span = inventory_on ? '4' : '6' %>
<tr class="info">
  <td>
    <div class='col-md-8'>
      <b><%= variant.flat_or_nested_name %></b>
    </div>
    <% if @current_order && variant.discontinued_on.nil? && variant.for_sale? %>
      <div class='col-md-4'>
        <div class='row'>
          <div class="col-xs-3">
            Quantity:
          </div>
          <div class="col-xs-9">
            <input tabindex="<%= 1 %>" type="number" name='order[products][<%= variant.id %>]'
            class="form-control" min="0" step='<%= variant.step_size %>'
            <%= 'disabled' if avv && avv.try(:recalculating).to_i < Spree::AccountViewableVariant::RecalculatingStatus['complete'] %>>
          </div>
        </div>
      </div>
    <% elsif current_spree_user.can_write?('catalog', 'products')%>
      <div class='col-md-4'>
        <div class='row'>
          <div class='actions pull-right'>
            <% if @vendor.subscription_includes?('assemblies') && variant.parts_variants.present? && variant.should_track_inventory? %>
              <% if variant.variant_type == 'inventory_assembly' %>
                <%= link_to '#build_assembly', {data:{toggle: 'modal', target:'#build-assembly-modal', 'variant-id' => "#{variant.id}"}, class: 'btn-build-assembly btn btn-sm green build-btn-square load-parts'} do %>
                  <i class='fa fa-sitemap'></i>
                <% end %>
              <% end %>
            <% end %>
            <%= link_to '#variant-modal', {data:{toggle: 'modal', target:'#variant-modal', action: 'edit', 'variant-id' => "#{variant.id}", 'product-id' => "#{variant.product_id}", 'account-id' => "#{@account.try(:id)}"}, class: 'btn btn-sm btn-primary variant-modal-btn', style: 'display:inline;'} do %>
              <i class='fa fa-pencil'></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </td>
</tr>
<tr>
  <td>
    <div class='col-md-<%= col_span.to_i * 2 %>'>
      <div class="row">
        <div class='col-md-2'>
          <%= render partial: 'spree/cust/products/image', locals: { variant: variant } unless variant.is_master? %>
        </div>
        <div class='col-md-8 margin-top-10'>
          <%= raw(variant.variant_description.to_s.html_safe) %>
        </div>
        <div class='col-md-12'>
          <hr>
        </div>
      </div>
      <div class='row'>
        <% variant.option_values.each do |ov| %>
          <div class="col-md-6">
            <div class="row static-info">
              <div class="col-xs-5 name"><%= ov.option_type.try(:presentation) %>:</div>
              <div class="col-xs-7 value"><%= ov.presentation %></div>
            </div>
          </div>
        <% end %>
      </div>
      <div class='row'>
        <div class="col-md-6">
          <% if current_vendor_view_settings.variant_sku %>
            <div class="row static-info">
              <div class="col-xs-5 name">SKU:</div>
              <div class="col-xs-7 value"><%= variant.sku %></div>
            </div>
          <% end %>
          <div class="row static-info">
            <div class="col-xs-5 name">Price:</div>
            <div class="col-xs-7 value">
              <% if avv && avv.try(:recalculating).to_i < Spree::AccountViewableVariant::RecalculatingStatus['complete'] %>
                Price is updating...
                <%  if request.fullpath.include?("manage")
                      update_url = manage_update_customized_pricing_path(avv_id: avv.id)
                    else
                      update_url = update_customized_pricing_path(avv_id: avv.id)
                    end
                %>
                <%= link_to "Update Now", update_url, class: "btn btn-xs btn-success", id: "update-price-#{avv.id}" %>
              <% elsif variant.price %>
                <%= display_sweet_price(avv.price, variant.currency) %>
                <% if @vendor.show_suggested_price && avv.price < variant.price  %>
                  <span class="suggested-price">SRP. <span class="price"><%= display_sweet_price(variant.price, variant.currency) %></span>
                <% end %>
              <% else %>
                <%= link_to "Set up price", edit_manage_product_path(@product) %>
              <% end %>
            </div>
          </div>
          <% if params[:action] == 'edit' %>
            <div class="row static-info">
              <div class="col-xs-5 name">Cost Price:</div>
              <div class="col-xs-7 value"><%= display_sweet_price(variant.current_cost_price, @product.currency) %></div>
            </div>
          <% end %>
          <% if current_vendor_view_settings.variant_lead_time %>
            <div class="row static-info">
              <div class="col-xs-5 name">Lead Time (Days):</div>
              <div class="col-xs-7 value"><%= variant.lead_time %></div>
            </div>
          <% end %>
        </div>
        <div class="col-md-6">
          <% if current_vendor_view_settings.variant_pack_size %>
            <div class="row static-info">
              <div class="col-xs-5">Pack/Size:</div>
              <div class="col-xs-7 bold"><%= variant.pack_size %></div>
            </div>
          <% end %>
          <div class="row static-info">
            <div class="col-xs-5 name">Weight:</div>
            <div class="col-xs-7 bold"><%= "#{variant.weight} #{variant.weight_units}" unless variant.weight == 0 %></div>
          </div>
          <div class="row static-info">
            <div class="col-xs-5 name">Dimensions:</div>
            <div class="col-xs-7 bold"><%= "#{variant.dimensions.join(' x ')} #{variant.dimension_units}" %></div>
          </div>
          <div class="row static-info">
            <div class="col-xs-5 name">Unit Count:</div>
            <div class="col-xs-7 bold"><%= "#{variant.pack_size_qty}" %></div>
          </div>
        </div>
      </div>
    </div>

    <% if inventory_on %>
      <div class="col-md-4">
        <% if variant.track_inventory? %>
          <div class="row static-info stock-row-title">
            <div class="col-xs-5 bold">Location</div>
            <div class="col-xs-7 bold">Count / Backorderable</div>
          </div>
          <!-- <hr> -->
          <% variant.stock_items.includes(:stock_location).order('spree_stock_locations.name asc').each do |stock_item| %>
            <div class="row static-info">
              <div class="col-xs-7"><%= stock_item.stock_location.try(:name) %></div>
              <div class="col-xs-5">
                <%= stock_item.count_on_hand %> /
                <%= stock_item.backorderable ? Spree.t(:say_yes) : Spree.t(:say_no) %>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="row static-info">
            <div class="col-xs-7 name">Tracks Inventory:</div>
            <div class="col-xs-5 bold"> <%= Spree.t(:say_no) %></div>
          </div>
        <% end %>
      </div>
    <% end %>
  </td>
</tr>
