<%= content_for :head_title do %>
  Pricing Adjustments
<% end %>

<%= content_for :page_title do %>
  Pricing Adjustments
<% end %>
<%= content_for :page_bar do %>
  <ul class="page-breadcrumb">
    <li>
      <%= link_to "Home", manage_path %>
      <i class="fa fa-circle"></i>
    </li>
		<li>
      <span>Pricing Adjustments</span>
    </li>
  </ul>
	<div class="page-toolbar">
    <% if current_spree_user.can_write?('promotions') %>
  		<%= link_to new_manage_promotion_path, class: "btn green pull-right" do%>
        <i class="fa fa-plus"></i>&nbsp;New Pricing Adjustment
      <% end %>
    <% end %>
  </div>
<% end %>

<%= search_form_for [:manage, @search], url: manage_promotions_path, class: "form" do |f| %>
  <%= render partial: 'advanced_search', locals: { f: f } %>
<% end %>

<div class="table-scrollable">
  <table class="table table-striped table-hover" id="sample_1">
    <thead>
      <tr>

        <th>
          <%= sort_link @search, :name, "Name" %>
        </th>
        <th>
          <%= sort_link @search, :promotion_category_name, "Category" %>
        </th>
        <th>
          Active
          <%#= sort_link @search, :active, "Active" %>
        </th>
        <th>
          Price Shown
          <%#= sort_link @search, :price_type_shown, "Price Shown" %>
        </th>
        <th>
          Action Type
          <%#= sort_link @search, :action_type, "Action Type" %>
        </th>
        <th width="40px"></th>
      </tr>
    </thead>
    <tbody>
      <% @promotions.each do |promo| %>
        <% next unless params[:account_id].blank? || promo.accounts.blank? || promo.account_ids.include?(params[:account_id].to_i)%>
        <% next unless params[:product_id].blank? || promo.products.blank? || promo.product_ids.include?(params[:product_id].to_i)%>
        <tr class="promo_<%= promo.id %>">

          <td><%= link_to promo.name, manage_promotion_path(promo.id) %></td>
          <td><%= link_to(promo.promotion_category.name, manage_promotion_path(promo.id)) unless promo.promotion_category.nil? %></td>
          <td><% if promo.active? %>
                <%= link_to manage_promotion_path(promo.id) do %>
                  <i class="fa fa-check"></i>
                <% end %>
              <% end %>
          </td>
          <td>
            <%= link_to manage_promotion_path(promo.id) do %>
              <%= promo.price_type_shown %>
            <% end %>
          </td>
          <td>
            <%= link_to manage_promotion_path(promo.id) do %>
              <%= promo.action_type %>
            <% end %>
          </td>
          <td class="delete"><%= link_to raw("<i class='fa fa-times'></i>"), manage_promotion_path(format: 'js', id:promo.id),
                data: {:confirm => "Are you sure you want to delete this pricing adjustment?"},
                :method => :delete, remote: true, class: 'btn btn-xs red delete-button' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>



<%= paginate @promotions unless @promotions.blank? %>
