<table>
  <tr>
    <td>
      <p>
        You have unshipped orders.
        <% if @vendor.track_inventory && @vendor.lot_tracking %>
          Please be sure to ship them to ensure accurate inventory and lot counts.
        <% end %>
      </p>
      <p>
        Click <%= link_to "here", manage_orders_url(host: @vendor.domain, protocol: 'https') %> to view all of your orders.<br>
      </p>

        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>
                Order #
              </th>
              <th>
                <%= "#{@vendor.order_date_text.to_s.capitalize} Date".strip %>
              </th>
              <th>
                Account
              </th>
              <th class="center">
                Total Items
              </th>
              <th class="center">
                Total
              </th>
              <th>
                Status
              </th>
            </tr>
          </thead>
          <tbody>
            <% @orders.each do |order| %>
              <tr>
                <td>
                  <%= link_to order.display_number, edit_manage_order_url(order) %>
                </td>
                <td>
                  <%= display_vendor_date_format(order.delivery_date, order.vendor.date_format) %>
                </td>
                <td>
                  <%= order.account.fully_qualified_name %>
                </td>
                <td class="center">
                  <%= order.item_count %>
                </td>
                <td class="center">
                  <%= display_sweet_price(order.total, order.currency) %>
                </td>
                <td>
                  <%= order.display_state %>
                </td>
              </tr>
          <% end %>
        </tbody>
      </table>

    </td>
    <td class="expander"></td>
  </tr>
</table>
