<table>
  <tr>
    <td>
      <%= @body.try(:html_safe) %>
      <br>

      <!-- Order Summary -->
      <table>
        <tr><td><strong><%= Spree.t('order_mailer.confirm_email.order_summary') %></strong></td></tr>
        <tr>
          <td>
            Order from <%= "#{@order.vendor.name}." %><br>
            <% if @order.account.try(:can_select_delivery?) %>
              <%= "#{@order.vendor.order_date_text.to_s.capitalize} Date".strip %>: <%= "#{display_vendor_date_format(@order.delivery_date, @order.vendor.date_format)}" %>.
            <% else %>
              <!-- still want to use same date -->
              Order date: <%= "#{display_vendor_date_format(@order.delivery_date, @order.vendor.date_format)}" %>.
            <% end %>
          </td>
        </tr>
      </table>

      <!-- Order Items Summary -->
      <%= render partial: 'mailers/spree/shared/mailer_line_items_table' %>
    </td>
    <td class="expander"></td>
  </tr>
</table>
