<% @orders.each do |order| %>
  <% pm_status = order.payment_status(true) %>
  var statusText = '<%= Spree.t(pm_status, scope: :payment_statuses, default: [:missing, '']).to_s.titleize %>';
  var $pmLabel = $('label.payment_status.updating[data-order-id="<%= order.id %>"]');

  if ($pmLabel.text() !== statusText){
    $pmLabel.replaceWith("<label class='btn btn-xs circle payment_status <%= pm_status %>' data-order-id='<%= order.id %>'><%= Spree.t(pm_status, scope: :payment_statuses, default: [:missing, '']).to_s.titleize %></label>").hide().fadeIn(1000);
  }
<% end %>
