<%= content_for :head_title do %>
  Chart of Accounts
<% end %>

<%= content_for :page_title do %>
  Chart of Accounts
<% end %>

<%= content_for :page_bar do %>
  <ul class="page-breadcrumb">
    <li>
      <%= link_to "Home", manage_path %>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <%= link_to "Configuration", manage_path %>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <span>Chart of Accounts</span>
    </li>
  </ul>
  <div class="page-toolbar">
		<%= link_to new_manage_chart_account_path, class: "btn green pull-right" do%>
      <i class="fa fa-plus"></i>&nbsp;New Account
    <% end %>
  </div>
<% end %>

<div class="content">
  <%= search_form_for [:manage, @search] do |f| %>
    <%= render partial: 'advanced_search', locals: {f: f} %>
  <% end %>
  <table class="table table-striped table-hover">
    <thead>
        <tr>
          <th class='no-sort delete-column'></th>
          <th>
            <%= sort_link @search, :fully_qualified_name, 'Name' %>
          </th>
          <th>
            <%= sort_link @search, :chart_account_category_name, 'Category' %>
          </th>
        </tr>
    </thead>
    <tbody>
      <% @accounts.each do |account| %>
        <tr id="chart-account-<%= account.id %>">
          <td class='delete-column'>
            <%= link_to manage_chart_account_path(account), method: :delete, data: {confirm: "Are you sure?"},
              class: 'btn btn-xs red delete-row-btn close-button', remote: true do %>
              <i class='fa fa-times'></i>
            <% end %>
          </td>
          <td><%= link_to account.fully_qualified_name, edit_manage_chart_account_path(account.id) %></td>
          <td><%= link_to account.chart_account_category.name, edit_manage_chart_account_path(account.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @accounts %>
