<div class="portlet box blue-hoki" id='search'>
  <div class="portlet-title">
    <div class='col-xs-12 col-sm-6 col-lg-4'>
      <%= f.text_field :number_or_fully_qualified_name_cont, class: 'form-control', placeholder: 'Enter search term' %>
      <div class="visible-xs-block" style="min-height:10px;">
      </div>
    </div>
    <div class="col-xs-8 col-sm-4" id="basic-search-buttons">
      <button type="submit" class="btn green"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
      <%= link_to manage_accounts_path, class: "btn default" do %>
        <i class='fa fa-times'></i> Reset
      <% end %>
    </div>

    <div class="tools">
      <a href="javascript:;" id='toggle-advanced-search'>Advanced Search <i class="fa fa-angle-down"></i></a>
    </div>
  </div>
  <div class="portlet-body form hidden" id='advanced-search-form'>
    <div class="form-body">
      <div class='row'>
        <div class='col-sm-4'>
          <div class='form-group' data-open="<%= params[:q] && !params[:q].fetch(:id_eq, nil).blank? %>">
            <%= f.label :id_eq, 'Account Name', class: 'control-label' %>
            <%= f.collection_select :id_eq, @vendor.customer_accounts.order('fully_qualified_name ASC'), :id, :fully_qualified_name, {include_blank: true }, {class: 'form-control select2 select2-allow-clear'} %>
          </div>
        </div>
        <div class='col-sm-4'>
          <div class='form-group' data-open="<%= params[:q] && !params[:q].fetch(:number_cont, nil).blank? %>">
            <%= f.label :number_cont, 'Account Number', class: 'control-label' %>
            <%= f.text_field :number_cont, class: 'form-control' %>
          </div>
        </div>
        <div class='col-sm-4'>
          <div class='form-group' data-open="<%= params[:q] && !params[:q].fetch(:email_cont, nil).blank? %>">
            <%= f.label :email_cont, 'Email', class: 'control-label' %>
            <%= f.text_field :email_cont, class: 'form-control' %>
          </div>
        </div>
        <div class='col-sm-4'>
          <div class='form-group' data-open="<%= params[:q] && !params[:q].fetch(:customer_type_id_eq, nil).blank? %>">
            <%= f.label :customer_type_id_eq, 'Customer Type', class: 'control-label' %>
            <%= f.collection_select :customer_type_id_eq, @vendor.customer_types.order('name ASC'), :id, :name, {include_blank: true }, {class: 'form-control select2 select2-allow-clear'} %>
          </div>
        </div>
        <div class='col-sm-4'>
          <div class='form-group' data-open="<%= params[:q] && !params[:q].fetch(:rep_id_eq, nil).blank? %>">
            <%= f.label :rep_id_eq, 'Rep', class: 'control-label' %>
            <%= f.collection_select :rep_id_eq, @vendor.reps.order('name ASC'), :id, :name, {include_blank: true }, {class: 'form-control select2 select2-allow-clear'} %>
          </div>
        </div>
        <div class='col-sm-4'>
          <div class='form-group' data-open="<%= !params[:active].blank? %>">
            <%= f.label :active, 'Active', class: 'control-label' %>
            <%= select_tag :active, options_for_select([['Active', ''],['Inactive', 'inactive'], ['Both', 'both']], params[:active]), {class: "form-control"} %>
          </div>
        </div>
        <div class='col-md-4 col-sm-8'>
          <div class='form-group' data-open="<%= params[:q] && (!params[:q].fetch(:last_invoice_date_gteq, nil).blank? || !params[:q].fetch(:last_invoice_date_lteq, nil).blank?) %>">
            <label class='control-label'>Last Invoice Date</label>
            <%= render partial: 'spree/shared/forms/fields/date_range', locals: {f: f, date_key: :last_invoice_date, company: @vendor} %>
          </div>
        </div>
      </div>
    </div>
    <div class="form-actions">
      <div class="row">
        <div class="col-md-12">
          <div class='btn-set pull-right'>
            <button type="submit" class="btn green"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
            <%= link_to manage_accounts_path, class: "btn default" do %>
              <i class='fa fa-times'></i> Reset
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
