<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :firstname, 'First Name', class: "control-label" %>
      <%= f.text_field :firstname, class: "form-control"  %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :lastname, 'Last Name', class: "control-label" %>
      <%= f.text_field :lastname, class: "form-control" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :position, class: "control-label" %>
      <%= f.text_field :position, class: "form-control" %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :email, class: "control-label" %>
      <%= f.email_field :email, class: "form-control" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :phone, class: "control-label" %>
      <%= f.text_field :phone, class: "form-control" %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <%= f.label :view_images? %><br>
      <%= f.check_box :view_images, class: 'make-switch', 'data-size' => 'mini' %>
    </div>
  </div>
  <% if current_spree_user.customer_admin %>
    <div class="col-md-3">
      <div class="form-group">
        <%= f.label :customer_admin, "Admin Privileges?", class: "control-label" %><br>
        <%= f.check_box :customer_admin, class: 'make-switch', 'data-size' => 'mini' %>
      </div>
    </div>
  <% end %>
</div>
