<table class="table" id='listing_citys'>
  <thead>
    <tr>
      <th><%= t("name") %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @cities.each do |city| %>
      <tr id="<%= dom_id city %>">
        <td><%=city.name %></td>
        <td class="actions actions-2 text-right">
          <%= link_to edit_admin_country_state_city_url(@country, @state, city), class: 'btn btn-primary btn-sm icon-link with-tip action-edit no-text' do %>
            <span class="icon icon-edit"></span>
          <% end %>

          <%= link_to admin_country_state_city_url(@country, @state, city), method: 'delete', class: 'btn btn-danger btn-sm delete-resource icon-link with-tip action-delete no-text' do %>
            <span class="icon icon-delete"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div id="new_city"></div>
<p>
  <%= button_link_to t("new_city"), new_admin_country_state_city_url(@country,@state), {remote: true, icon: 'add', id: 'new_city'} %>
</p>
