<%= content_for :head_title do %>
  Credit Memos
<% end %>

<%= content_for :page_bar do %>
  <ul class="page-breadcrumb">
    <li>
      <%= link_to "Home", manage_path %>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <%= link_to "Credit Memos", manage_credit_memos_path %>
    </li>
  </ul>
  <div class="page-toolbar">
    <% if current_spree_user.is_admin? %>
      <%= link_to new_manage_credit_memo_path, class: "btn green pull-right" do%>
        <i class="fa fa-plus"></i>&nbsp;New Credit Memo
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="content">

<%= search_form_for [:manage, @search], class: "form", id: "search-form" do |f| %>
  <%= render partial: 'advanced_search', locals: {f: f} %>
<% end %>

  <div class="row">
    <div class="col-md-12">
      <div class="">
        <table class="table table-striped table-hover ajaxDatatable" data-source="<%= manage_dt_credit_memos_path(format: :json) %>" data-dt-order="0, 'desc'">
          <thead>
            <tr>
              <th data-source='txn_date' class='sorting_desc'>Date</th>
              <th data-source='number'>Number</th>
              <th data-source='account_fully_qualified_name'>Account</th>
              <th data-source='total'>Original Amt</th>
              <th data-source='amount_remaining'>Remaining Balance</th>
            </tr>
          </thead>
          <tbody id='all-orders'>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
