<div class="title-wrapper" style='background-color: <%= @vendor.customer_viewable_attribute.banner_color %>; min-height: 187px'>
  <% bg_img_url = @vendor.banner_image_url %>
  <% banner_style = "background-color: #{@vendor.customer_viewable_attribute.banner_color};" %>
  <% banner_style += " background-image: url(#{@vendor.banner_image_url});" if bg_img_url %>
  <div class="container title-bg-container" style="<%= banner_style %>">
    <div class="container-inner">
      <h1 style="<%= @vendor.cva.inline_banner_text_style %>">
        <span><%= @vendor.cva.pages_catalog.fetch('banner_text', {}).fetch('content', '') %></span>
      </h1>
    </div>
  </div>
</div>
<% if @vendor.customer_viewable_attribute.announcement_state && !@vendor.customer_viewable_attribute.announcement.empty? %>
  <div class="announcement" ><%= auto_link(@vendor.customer_viewable_attribute.announcement) %></div>
<% end %>
<div class='container static-pages' style='min-height: 93px'>
  <ul class="list-unstyled list-inline center-block" style="margin-top: 25px">
    <%= render partial: 'spree/cust/products/static_content_list', collection: @pages_header, as: :page %>
  </ul>
</div>
