<% idx = 0 %>
<% last_product_name = '' %>
<% include_unit_weight = current_vendor.try(:include_unit_weight) %>
<% @account_viewable_variants.each do |avv| %>
  <% variant = avv.variant %>
  <% product = variant.product %>
  <% if last_product_name != variant.product.default_display_name && !variant.is_master? %>
    <% last_product_name = variant.product.default_display_name %>
    <% new_product = true %>
  <% else %>
    <% new_product = false %>
  <% end %>
  <% if current_vendor_variant_nest_name? && new_product %>
    <tr class="<%= 'discontinued' if product.discontinued_on %>">
      <% if @user_is_viewing_images %>
        <%# CHECK WHETHER USER WANTS TO SEE IMAGES IN CATALOG HERE %>
         <td>
           <%= link_to small_image(product, itemprop: "image"), vendor_product_path(@vendor, product), itemprop: 'url' %><br/>
         </td>
      <% else %>
        <td style="width:20px;"></td>
      <% end %>
      <td> <%= link_to product.default_display_name, vendor_product_path(@vendor, product) %></td>
      <td></td>
      <% if current_vendor_view_settings.variant_pack_size %>
        <td></td>
      <% end %>
      <% if include_unit_weight %>
        <td></td>
      <% end %>
      <% if current_vendor_view_settings.variant_lead_time %>
        <td></td>
      <% end %>
      <td></td>
    </tr>
    <% idx += 1 %>
  <% end %>
  <tr class="<%= 'discontinued' if product.discontinued_on %>">
    <% url = vendor_product_variant_path(@vendor, product, variant) %>
    <% if @user_is_viewing_images %>
      <%# CHECK WHETHER USER WANTS TO SEE IMAGES IN CATALOG HERE %>
       <td style="<%= 'border-top:none;' if current_vendor_variant_nest_name? && !variant.is_master? %>">
         <%= link_to small_image(variant, itemprop: "image"), url %><br/>
       </td>
    <% else %>
      <td style="<%= 'border-top:none;' if current_vendor_variant_nest_name? && !variant.is_master? %>"></td>
    <% end %>

    <td style="<%= 'padding-left:40px;' if current_vendor_variant_nest_name? && !variant.is_master? %>">
      <%= link_to url do %>
        <% if current_vendor_variant_nest_name? %>
          <%= variant.variant_name.to_s %>
        <% else %>
          <%= variant.default_display_name.to_s %>
        <% end %>
      <% end %>
    </td>
    <% if current_vendor_view_settings.variant_sku %>
      <td>
        <%= link_to variant.sku, url %>
      </td>
    <% end %>
    <% if current_vendor_view_settings.variant_pack_size %>
      <td>
        <%= link_to variant.pack_size.to_s, url %>
      </td>
    <% end %>
    <% if include_unit_weight %>
      <td><%= link_to variant.display_weight, url %></td>
    <% end %>
    <% if current_vendor_view_settings.variant_lead_time %>
      <td>
        <%= link_to pluralize(variant.lead_time, 'day'), url %>
      </td>
    <% end %>
    <td>
      <% if avv.recalculating < Spree::AccountViewableVariant::RecalculatingStatus['complete'] %>
        <div id="update-price-<%= avv.id %>">
          Price is updating...
          <%= link_to "Update Now", update_customized_pricing_path(avv_id: avv.id), class: "btn btn-xs btn-success", remote: true %>
        </div>
      <% elsif variant.price %>
        <%= render partial: 'spree/cust/products/variant_price.html.erb', locals: { avv: avv, variant: variant, url: url } %>
      <% end %>
    </td>
  </tr>
  <% idx += 1 %>
<% end %>
