<div class="row">
  <div class="col-md-12">
    <div class=''>
      <table class="table table-hover table-striped table-bordered basic-table-no-buttons" data-paging="false" id="" data-title='Inventory <%= display_vendor_date_format(Time.current.in_time_zone(@vendor.time_zone), @vendor.date_format) %>'>
        <thead>
          <tr>
            <th rowspan="2" class="dt-no-settings-visible"></th>
            <th rowspan="2">
              <%= sort_link @search, :full_display_name, "Name" %>
            </th>
            <th rowspan="2">
              <%= sort_link @search, :sku, "SKU" %>
            </th>
            <th rowspan="2">
              <%= sort_link @search, :pack_size, "Pack Size" %>
            </th>
            <% @vendor.stock_locations.active.order('name ASC').each do |location| %>
              <th colspan="3" rowspan="1">
                <%= location.name %>
              </th>
            <% end %>
            <th colspan="3" rowspan="1">Total</th>
          </tr>
          <tr>
            <% @vendor.stock_locations.active.order('name ASC').each do |location| %>
              <th rowspan="1" colspan="1" data-dt-prefix='<%= location.name %>'>
                <span class='hidden'><%= location.name %> - </span>On Hand
              </th>
              <th rowspan="1" colspan="1">
                <span class='hidden'><%= location.name %> - </span>Available
              </th>
              <th rowspan="1" colspan="1">
                <span class='hidden'><%= location.name %> - </span>Committed
              </th>
            <% end %>
            <th rowspan="1" colspan="1">
              <span class='hidden'>Total - </span>On Hand
            </th>
            <th rowspan="1" colspan="1">
              <span class='hidden'>Total - </span>Available
            </th>
            <th rowspan="1" colspan="1">
              <span class='hidden'>Total - </span>Committed
            </th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'variant_row', collection: @variants, as: :variant %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= render partial: '/spree/manage/products/lot_info_modal' %>
