<tr data-part-variant-id="<%= part_variant.id %>">
  <td style="text-align: left;"><%= part_name %></td>
  <td><%= part_sku %></td>
  <td><%= part_qty %></td>
  <td class="qty"><%= part_total %></td>
</tr>
