<h4 class='form-section'>Shared Pdf Settings</h4>
<div class='row'>
  <div class='col-md-4 col-sm-6'>
    <div class="form-group">
      <%= f.label :use_page_numbers, class: "control-label" %></br>
      <%= f.check_box :use_page_numbers, class: 'make-switch', 'data-size' => 'mini' %>
    </div>
  </div>

  <div class='col-md-4 col-sm-6'>
    <div class="form-group">
      <%= f.label :font_face, class: "control-label" %><br />
      <%= f.select :font_face, @account.font_faces,{}, class: "form-control" %>
    </div>
  </div>

  <div class='col-md-4 col-sm-6'>
    <div class="form-group">
      <%= f.label :font_size, class: "control-label" %><br />
      <%= f.number_field :font_size, class: "form-control" %>
    </div>
  </div>
</div>
