<%= content_for :head_title do %>
  Tax Rates
<% end %>

<%= content_for :page_bar do %>
  <ul class="page-breadcrumb">
    <li>
      <%= link_to "Home", manage_path %>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <%= link_to "Tax Rates", manage_tax_rates_path %>
       <i class="fa fa-circle"></i>
    </li>
    <li>
      <%= @tax_rate.name %>
    </li>
  </ul>
  <div class="page-toolbar">
    <div class="btn-group pull-right">
    </div>
  </div>
<% end %>

<%= form_for @tax_rate, url: manage_tax_rate_path(@tax_rate) do |f|%>
  <div class="row">
    <div class="portlet light ">
      <div class="portlet-title">
        <div class="caption caption-md">
          <span class="caption-subject font-blue-madison bold uppercase">
            <%= Spree.t(:tax_rate) %>
          </span>
        </div>
      </div>
      <div class="portlet-body form">
        <div class='form-body'>
          <%= render partial: 'form', locals: { f: f } %>
        </div>
        <div class="form-actions">
          <div class='pull-right'>
            <button class='btn btn-primary'>
              <i class='fa fa-check'></i> <%= Spree.t(:update) %>
            </button>
            <%= link_to manage_tax_rates_path, class: 'btn btn-default' do %>
              <i class='fa fa-times'></i> <%= Spree.t(:Cancel) %>
            <% end %>
          </div>
          <%= link_to manage_tax_rate_path(@tax_rate), data: {:confirm => "Are you sure you want to delete this tax rate?"}, :class => 'btn red', :method => :delete do %>
            <i class='fa fa-times'></i> <%= Spree.t(:delete) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
