<% start_at = Time.zone.now.beginning_of_hour %>
<%= content_for :head_title do %>
  Standing Orders
<% end %>

<%= content_for :page_title do %>
  Standing Orders
<% end %>

<%= content_for :page_bar do %>
  <ul class="page-breadcrumb">
    <li>
      <%= link_to "Home", root_path %>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <%= link_to "Orders", orders_path %>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <%= link_to "Standing Order Schedules", standing_order_schedules_path %>
    </li>
  </ul>
  <div class="page-toolbar">
    Current customers time: <%= sweet_full_date_time(Time.current, @customer.time_zone) %>
  </div>
<% end %>

<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="table-scrollable">
        <%= search_form_for [:manage, @search], class: "form" do |f| %>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>
                  <%= sort_link @search, :standing_order_name, "Standing Order" %>
                </th>
                <th>
                  <%= sort_link @search, :order_number, "Order" %>
                </th>
                <th>
                  <%= sort_link @search, :deliver_at, "Deliver Date" %>
                </th>
                <th>
                  <%= sort_link @search, :create_at, "Create At" %>
                </th>
                <th>
                  <%= sort_link @search, :process_at, "Submit At" %>
                </th>
                <th>
                  <%= sort_link @search, :remind_at, "Remind At" %>
                </th>
              </tr>
            </thead>
            <tbody>
              <% @schedules.each do |schedule| %>
                <% decorator = "text-decoration: line-through;" if schedule.skip %>
                <tr>
                  <td rowspan="2">
                    <%= link_to schedule.standing_order.try(:name), standing_order_path(schedule.standing_order) %>
                  </td>
                  <td rowspan="2">
                    <% if schedule.order %>
                      <%= link_to schedule.order.try(:display_number), edit_order_path(schedule.order) %>
                    <% end %>
                  </td>
                  <td>
                    <span style="<%= decorator.to_s %>"><%= sweet_date(schedule.deliver_at, @customer.time_zone) %></span>
                  </td>
                  <td>
                    <% create_decorator = "color: red;" if schedule.create_at && schedule.created_at.nil? && schedule.create_at <= start_at %>
                    <span style="<%= decorator.to_s + create_decorator.to_s %>"><%= sweet_full_date_time(schedule.create_at, @customer.time_zone) %></span>
                  </td>
                  <td>
                    <% process_decorator = "color: red;" if schedule.process_at && schedule.processed_at.nil? && schedule.process_at <= start_at %>
                    <span style="<%= decorator.to_s + process_decorator.to_s %>"><%= sweet_full_date_time(schedule.process_at, @customer.time_zone) %></span>
                  </td>
                  <td>
                    <% remind_decorator = "color: red;" if schedule.remind_at && schedule.reminded_at.nil? && schedule.remind_at <= start_at %>
                    <span style="<%= decorator.to_s + remind_decorator.to_s%>"><%= sweet_full_date_time(schedule.remind_at, @customer.time_zone) %></span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <% if schedule.skip %>
                      <%= link_to "Enqueue", standing_order_schedule_enque_path(schedule, standing_order_id: schedule.standing_order_id), class: "btn btn-xs btn-info", method: :put %>
                    <% else %>
                      <%= link_to "Skip", standing_order_schedule_skip_path(schedule, standing_order_id: schedule.standing_order_id), class: "btn btn-xs btn-info", method: :put %>
                    <% end %>
                  </td>
                  <td>
                    <% if schedule.created_at %>
                      <%= sweet_full_date_time(schedule.created_at, @customer.time_zone) %>
                    <% elsif schedule.create_at %>
                      <%= link_to "Create Order!", standing_order_schedule_generate_order_path(schedule, standing_order_id: schedule.standing_order_id), class: "btn btn-xs btn-success", method: :put %>
                    <% end %>
                  </td>
                  <td>
                    <% if schedule.processed_at %>
                      <%= sweet_full_date_time(schedule.processed_at, @customer.time_zone) %>
                    <% elsif schedule.process_at %>
                      <%= link_to "Submit Order!", standing_order_schedule_process_order_path(schedule, standing_order_id: schedule.standing_order_id), class: "btn btn-xs btn-success", method: :put %>
                    <% end %>
                  </td>
                  <td>
                    <% if schedule.reminded_at %>
                      <%= sweet_full_date_time(schedule.reminded_at, @customer.time_zone) %>
                    <% elsif schedule.remind_at %>
                      <%= link_to "Remind!", standing_order_schedule_remind_path(schedule, standing_order_id: schedule.standing_order_id), class: "btn btn-xs btn-success", method: :put %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= paginate @schedules %>
