<%= content_for :head_title do %>
  Reports
<% end %>

<%= content_for :page_title do %>
  Customer Sales Report
<% end %>
<%= content_for :page_bar do %>
  <ul class="page-breadcrumb">
    <li>
      <%= link_to "Home", manage_path %>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      Customer Sales Report
    </li>
  </ul>
  <div class="page-toolbar">
    <div class="btn-group pull-right">
      
    </div>
  </div>
<% end %>

<%= form_for :q, url: manage_customers_report_path, method: :get, html:{ class: "form", id: "production-filter"} do |f| %>
  <div class="portlet light bordered">
    <div class="portlet-body">

      <div class='col-md-4 margin-top-10'>
        <%= render partial: 'spree/manage/reports/shared/search/order_status' %>
      </div>
      <div class='col-md-8 margin-top-10'>
        <div class='row'>
          <div class='col-md-12'>
            <%= render partial: 'spree/manage/reports/shared/search/sub_accounts' %>
          </div>
        </div>
        <div class='row'>
          <div class='col-sm-12'>
            <%= render partial: 'spree/manage/reports/shared/search/customer_and_types' %>
          </div>
        </div>
        <div class='row'>
          <div class='col-sm-6'>
            <div class='form-group'>
              <label class='control-label'><%= "#{@vendor.order_date_text.to_s.capitalize} Date".strip %></label>
              <%= render partial: 'spree/shared/forms/fields/date_range', locals: {f: f, date_key: :delivery_date, company: @vendor} %>
            </div>
          </div>
          <div class='col-sm-6'>
            <div class='form-group'>
              <label class='control-label'>Submitted On</label>
              <%= render partial: 'spree/shared/forms/fields/date_range', locals: {f: f, date_key: :completed_at, company: @vendor} %>
            </div>
          </div>
          <div class='col-sm-6'>
            <div class='form-group'>
              <label class='control-label'>Approved On</label>
              <%= render partial: 'spree/shared/forms/fields/date_range', locals: {f: f, date_key: :approved_at, company: @vendor} %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class='pull-right margin-top-25'>
              <button class="btn btn-primary">Update Report</button>
              <%= link_to "Reset", manage_customers_report_path, class: "btn btn-default", id: "reset-button"%>
            </div>
          </div>
        </div>
      </div><!-- END col-md-8 -->
      <div class="clearfix"></div>

    </div>
  </div>

  <div class="clearfix"></div>
  <div class="portlet light bordered">
      <div class="portlet-title">
          <div class="caption">
              <!-- <i class="icon-bar-chart font-green"></i> -->
              <!-- <span class="caption-subject font-green bold uppercase"> -->
                <select class="form-control" name="chart_content" id="chart-select">
                  <% @content_options.each do |co| %>
                    <option value="<%= co.fetch(:slug) %>"><%= co.fetch(:name) %></option>
                  <% end %>
                </select>
                <!-- Sales From <%#= "#{@dates[:start].strftime('%m-%d-%Y')} to #{@dates[:end].strftime('%m-%d-%Y')}" %> -->
              <!-- </span> -->
          </div>
          <div style="padding-left: 90px; padding-top: 15px;">
            <% if @total_spend > 0 %>
              <div class="chart-total" id="chart-total-spend">Total: <%= display_sweet_price(@total_spend, @vendor.currency) %></div>
            <% end %>
            <% if @total_items > 0 %>
              <div class="chart-total hidden" id="chart-total-items">Total: <%= @total_items %></div>
            <% end %>
            <% if @total_orders > 0 %>
              <div class="chart-total hidden" id="chart-total-orders">Total: <%= @total_orders %></div>
            <% end %>
          </div>
      </div>
      <div class="portlet-body">
        <div class="chart-block">
          <div id="spend-customer-chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
        <div class="chart-block hidden">
          <div id="items-customer-chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
        <div class="chart-block hidden">
          <div id="orders-customer-chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
      </div>
  </div>
<% end %>

<div class="table">
  <table class="table table-hover table-striped" id="production" data-title='Customer Sales Report <%= display_vendor_date_format(@dates[:start], @vendor.date_format) %> - <%= display_vendor_date_format(@dates[:end], @vendor.date_format) %>'>
    <thead>
      <tr>
        <th>
          Account
        </th>
        <th>
          Spend
        </th>
        <th>
          Items Purchased
        </th>
        <th>
          # of Orders
        </th>
      </tr>

    </thead>
    <tbody class="product-production-row">
      <% if @orders.class == Hash %>
        <% @orders.each do |name, order| %>
          <tr>
            <td><%= name %></td>
            <td><%= display_sweet_price(order.spend, order.currency) %></td>
            <td><%= order.items_purchased %></td>
            <td><%= order.num_orders %></td>
          </tr>
        <% end %>
      <% else %>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.account.fully_qualified_name %></td>
            <td><%= display_sweet_price(order.spend, order.currency) %></td>
            <td><%= order.items_purchased %></td>
            <td><%= order.num_orders %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

</div>

<script type="text/javascript">
$(document).on('ready', function() {
  $('#production-filter').on('submit', function() {
    if ($('#sub_accounts').bootstrapSwitch('state')) {
      localStorage['customer-reports-sub-accounts'] = true;
      document.cookie = "sub_accounts = true";
    } else {
      localStorage['customer-reports-sub-accounts'] = false;
      document.cookie = "sub_accounts = false";
    }
  });
  $('#reset-button').on('click', function() {
    localStorage['customer-reports-sub-accounts'] = false;
    document.cookie = "sub_accounts = false";
  });
});

  $(function() {

    $('#spend-customer-chart').highcharts(<%= raw @spend_chart_data.to_json %>);
    $('#items-customer-chart').highcharts(<%= raw @items_chart_data.to_json %>);
    $('#orders-customer-chart').highcharts(<%= raw @orders_chart_data.to_json %>);

    $('#chart-select').change(function(){

      id = $(this.selectedOptions).val();
      $('.chart-block').each(function(){
        if (!$(this).hasClass('hidden')){
          $(this).addClass('hidden');
        }
      });
      $('.chart-total').each(function(){
        if (!$(this).hasClass('hidden')){
          $(this).addClass('hidden');
        }
      });

      $("#chart-total-" + id).removeClass('hidden');
      $("#" + id + "-customer-chart").parent().removeClass('hidden');
      $("#" + id + "-customer-chart").highcharts().reflow();
    });
  });
</script>
