---
subject: 'Your invoice ({{order.number}}) from {{my_company.name}}'                   # REQUIRED
from: ''   # optional
cc: ''     # optional
bcc: ''     # optional
---
<p>
	Dear {{order.customer.name}},
</p>
<p>
  Your order has been shipped.<br>
</p>
<p>
  Tracking Information: {{shipment.tracking_number}}
</p>
<p>
  Click <a href="{{order.url}}">here</a> to view additional details.
</p>
{% include 'invoice_mailer_summary_partial' %}
