<% if flash[:errors] %>
  $('#alert').html("<div class='alert alert-danger alert-dismissable'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'></button><%= flash[:errors].join(", ") %></div>");
<% end %>  
<% colspan_left = 6 %>
<% colspan_left -= 1 unless current_vendor.include_unit_weight %>
<% colspan_left -= 1 unless current_vendor_view_settings.variant_sku %>
<% colspan_left -= 1 unless current_vendor_view_settings.line_item_lot_number %>
<% colspan_left -= 1 unless current_vendor_view_settings.variant_pack_size %>
$('#all-adjustments').html("<%= j (render(partial: 'adjustments.html.erb', locals: {colspan_left: colspan_left})) %>");
$('#totals-row').replaceWith("<%= escape_javascript(render(partial: 'total_row.html.erb', locals: {colspan_left: colspan_left})) %>");
$('.subtotal-price').replaceWith("<span class='subtotal-price'><%= display_sweet_price(@order.item_total, @order.currency) %></span>")
$('.total-price').replaceWith("<span class='total-price'><%= display_sweet_price(@order.total, @order.currency) %></span>");
$('#subtotals-row').replaceWith("<%= escape_javascript(render(partial: 'subtotal_row.html.erb', locals: {colspan_left: colspan_left})) %>");
$('#submit-button').prop('disabled', false);
$('#resubmit-button').prop('disabled', false);
$('#update-notification').remove();
$('.tooltips').tooltip();
