<%= content_for :head_title do %>
  Pricing Adjustments Categories
<% end %>

<%= content_for :page_bar do %>
  <ul class="page-breadcrumb">
    <li>
      <%= link_to "Home", manage_path %>
      <i class="fa fa-circle"></i>
    </li>
		<li>
      <%= link_to "Pricing Adjustments Categories", manage_promotion_categories_path %>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <span><%= @promotion_category.name %></span>
    </li>
  </ul>
	<div class="page-toolbar">
    <div class="btn-group pull-right">

    </div>
  </div>
<% end %>

<div class='row'>
  <div class="portlet light">
    <div class="portlet-title">
      <div class="caption">
        <span class="caption-subject font-blue-madison bold uppercase">
          Edit Pricing Adjustment Category: <%= @promotion_category.name %>
        </span>
      </div>
    </div>
    <div class="portlet-body form">
      <%= form_for [:manage, @promotion_category] do |f| %>
        <div class="form-body">
          <%= render partial: 'form', locals: {f:f} %>
        </div>
        <div class="form-actions">
          <%= link_to manage_promotion_category_url(@promotion_category.id),
            data:{:confirm => "Are you sure you want to delete this promotion category?"},
            :method => :delete, class: "btn red" do %>
              <i class='fa fa-times'></i> Delete Category
            <% end %>
          <div class="pull-right">
            <%= link_to manage_promotion_categories_path, class: "btn btn-default" do %>
              <i class='fa fa-times'></i> <%= Spree.t(:Cancel) %>
            <% end %>
            <button class="btn btn-primary">
              <i class='fa fa-check'></i> <%= Spree.t(:update) %>
            </button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
