<% content_for :page_title do %>
  / <%= Spree.t(:return_authorization) %> <%= @return_authorization.number %> (<%= Spree.t(@return_authorization.state.downcase) %>)
<% end %>

<%= form_for [:manage, @order, @return_authorization] do |f| %>
  <fieldset>
    <%= render partial: 'form', locals: { f: f } %>

    <div class="form-actions" data-hook="buttons">
      <%= button Spree.t('actions.update'), 'repeat' %>
      <span class="or"><%= Spree.t(:or) %></span>
      <%= button_link_to Spree.t('actions.cancel'), spree.edit_manage_order_url(@order, anchor: 'return_authorizations'), icon: 'delete' %>
    </div>
  </fieldset>
<% end %>
