<div class='row'>
  <div class='col-xs-12'>
    <div class='form-group'>
      <%= f.label :active, 'Active', class: 'control-label' %><br>
      <%= f.check_box :active, class: 'make-switch', data: {size: 'mini'} %>
    </div>
  </div>
  <% if f.object.can_have_parts? || f.object.new_record? %>
    <div class='col-xs-12'>
      <div class="form-group">
        <% display_show_text = f.object.is_bundle? ? 'Display Bundle Parts' : 'Display Assembly Parts' %>
        <% display_show_text = 'Display Parts' if f.object.new_record? %>
        <%= f.label :show_parts, display_show_text, class: "control-label" %><br>
        <%= f.check_box :show_parts, class: 'make-switch', 'data-size' => 'mini' %>
      </div>
    </div>
  <% end %>
  <% if f.object.can_track_lots? %>
    <div class='col-xs-12'>
      <div class="form-group track-inventory-container">
        <%= f.label :lot_tracking, 'Advanced Lot Tracking', class: "control-label" %><br>
        <%= f.check_box :lot_tracking, class: 'make-switch', 'data-size' => 'mini' %>
      </div>
    </div>
  <% end %>
  <div class='col-xs-12'>
    <div class='form-group'>
      <%= f.label :visible_to_all, 'Visible To All Accounts', class: 'control-label' %><br>
      <%= f.check_box :visible_to_all, class: 'make-switch', data: {size: 'mini'} %>
      <% if @vendor.try(:set_visibility_by_price_list) %>
        <br>
        <span class='help-block-italic' id='visibility-clarifier'>
          Visibility will be set by price lists
        </span>
      <% end %>
    </div>
  </div>
</div>
<script type='text/javascript'>
  var toggleVisibilityClarifier = function(){
    if($('#variant_visible_to_all').bootstrapSwitch('state')){
      $('#visibility-clarifier').hide();
    }else{
      $('#visibility-clarifier').show();
    }
  }

  $(document).ready(toggleVisibilityClarifier);
  $('#variant_visible_to_all').on('switchChange.bootstrapSwitch',toggleVisibilityClarifier);
</script>
