<div class='form'>
  <%= simple_form_for @account, url: colors_manage_account_path(anchor: "colors_tab", view_as: @account.slug), method: :post, wrapper: :horizontal_form do |f| %>
    <div class='form-body'>
      <%= f.input :theme_name, collection: Spree::Company.available_themes, include_blank: false %>
      <div id="vendor_theme_colors" style="<%= "display:none;" if @account.theme_name != 'custom' %>">
        <%= f.input :header_background_color, input_html: { class: "minicolors", value: @account.header_background_color || @account.theme_colors.fetch('header_background' ) } %>
        <%= f.input :header_text_color, input_html: { class: "minicolors", value: @account.header_text_color || @account.theme_colors.fetch('header_text' ) } %>
        <%= f.input :sidebar_background_color, input_html: { class: "minicolors", value: @account.sidebar_background_color || @account.theme_colors.fetch('sidebar_background' ) } %>
        <%= f.input :sidebar_text_color, input_html: { class: "minicolors", value: @account.sidebar_text_color || @account.theme_colors.fetch('sidebar_text' ) } %>
      </div>
    </div>

    <div class='form-actions'>
      <div class='pull-right'>
        <button class='btn btn-primary'>
          <i class='fa fa-eye'></i> Preview
        </button>
        <% if request.post? %>
          <button class='btn btn-primary' name='save'>
            <i class='fa fa-check'></i> Update
          </button>
          <%= link_to edit_manage_account_path(anchor: "colors_tab"), class: "btn btn-default" do %>
            <i class='fa fa-times'></i> <%= Spree.t(:Cancel) %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>


<script type="text/javascript">
  $(function() {

    $('#company_theme_name').change(function(){
      if ($(this).val() === 'custom') {
        $('#vendor_theme_colors').show();
      } else {
        $('#vendor_theme_colors').hide();
      }
    });

  });
</script>
